<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
  <a href="/" class="navbar-brand bg-primary d-flex align-items-center px-4 px-lg-5">
      <h2 class="mb-2 text-white">ArtStyles</h2>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
          <div class="nav-item dropdown">
              <a href="/" class="nav-link">Home</a>
          </div>
          <div class="nav-item dropdown">
              <a href="/deteksi" class="nav-link">Deteksi</a>
          </div>
          <div class="nav-item dropdown">
            <a href="/login" class="nav-link">Login</a>
        </div>
      </div>
      <h4 class="m-0 pe-lg-5 d-none d-lg-block"><i class="fa fa-palette text-primary me-3"></i>+012 345 6789</h4>
  </div>
</nav>
<br>
<br>
<!-- Navbar End -->
